
#popup-outer
  white-space nowrap
  #popup-options
    padding 0.3rem
    border 1px solid #EFEFEF
    margin 0.3rem
    display flex
    flex-wrap nowrap
    &*
      flex 1
      white-space nowrap
